<div class="menu">
    <div class="container">
        <div class="section-header text-center">
            <p>Acunmedya Akademi Menü</p>
            <h2>Lezzetli Şef Yemekleri  </h2>
        </div>
        <div class="tab-content">
            <div id="burgers" class="container tab-pane active">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <div class="menu-item">
                            <div class="menu-img">
                                <img src="~/food-website-template/img/menu-burger.jpg" alt="Image">
                            </div>
                            <div class="menu-text">
                                <h3><span>Mini cheese Burger</span> <strong>$9.00</strong></h3>
                                <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-img">
                                <img src="~/food-website-template/img/menu-burger.jpg" alt="Image">
                            </div>
                            <div class="menu-text">
                                <h3><span>Double size burger</span> <strong>$11.00</strong></h3>
                                <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-img">
                                <img src="~/food-website-template/img/menu-burger.jpg" alt="Image">
                            </div>
                            <div class="menu-text">
                                <h3><span>Bacon, EGG and Cheese</span> <strong>$13.00</strong></h3>
                                <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-img">
                                <img src="~/food-website-template/img/menu-burger.jpg" alt="Image">
                            </div>
                            <div class="menu-text">
                                <h3><span>Pulled porx Burger</span> <strong>$18.00</strong></h3>
                                <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                            </div>
                        </div>
                        <div class="menu-item">
                            <div class="menu-img">
                                <img src="~/food-website-template/img/menu-burger.jpg" alt="Image">
                            </div>
                            <div class="menu-text">
                                <h3><span>Fried chicken Burger</span> <strong>$22.00</strong></h3>
                                <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block">
                        <img src="~/food-website-template/img/menu-burger-img.jpg" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>