﻿<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-contact">
                            <h2>Adresimiz</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Bağcılar/İstanbul</p>
                            <p><i class="fa fa-phone-alt"></i>+90 500 400 30 20 </p>
                            <p><i class="fa fa-envelope"></i>acunmedya@gmail.com</p>
                            <div class="footer-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-link">
                            <h2>Hızlı Linkler</h2>
                            <a href="">Kullanım Şartları</a>
                            <a href="">Gizlilik Politikası</a>
                            <a href="">Çerezler</a>
                            <a href="">Yardım</a>
                            <a href="">Sık Sorulan Sorular</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-newsletter">
                    <h2>Mail Bülteni</h2>
                    <p>
                        Alanında en uzman şeflerimizin ellerinden çıkan lezzetli Türk ve dünya mutfağı yemeklerinden haberdar olmak için hemen mail bültenimize kaydolun.
                    </p>
                    <div class="form">
                        <input class="form-control" placeholder="Mail Adresiniz">
                        <button class="btn custom-btn">Abone Ol</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>Copyright &copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
            <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
        </div>
    </div>
</div>